*.pyc
data/archive/*
data/*.json
data/online/
data/gooddata/
apikey
.MLEPServer/
handshake/
*.bin
old/*
*-Suprem-*
*memory*cache*
.vscode
*.csv
outputs/
local/
!config/Sources/__init__.py
config/Sources/*
config/RawSources/*
